.container_Navbar {
  position: fixed;
  width: 100%;
  z-index: 200;
  .wrapper_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 2rem;
    li {
      .items_nav {
        color: black;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        margin: 0.5rem 1rem;
        padding: 0.6rem 0rem;
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        transition: all 0.35s;
        position: relative;
        &::before {
          position: absolute;
          z-index: -1;
          top: 35px;
          left: 0px;
          width: 0%;
          content: "";
          background-color: black;
          height: 1px;
          transition: all 0.35s;
        }
      }
      &:hover {
        .items_nav {
          &::before {
            width: 100%;
          }
        }
      }
    }
    .mai_page {
      margin-right: auto;
      .items_nav {
        font-weight: bold;
      }
    }
  }
}
